In [1]:
# ONLY FOR GOOGLE COLAB
from google.colab import drive
import os
drive.mount('/content/drive')
WORKING_DIRECTORY = '/content/drive/My Drive/hack_october/Dataset'

os.chdir(WORKING_DIRECTORY)

Mounted at /content/drive

In [2]:
import lightgbm as lgb
import pandas as pd
import numpy as np

In [3]:
features = pd.read_csv("augmented.csv")
features = features.drop(['Unnamed: 0'], axis=1)

expert_decisions = pd.read_csv("new_OpenPart.csv")
expert_decisions = expert_decisions.drop(['Unnamed: 0'], axis=1)
expert_decisions["Case"] = expert_decisions["Case"].apply(lambda x: '.'.join(x.split(".")[:-1]))
expert_decisions.columns = ["file_name", "sample_1", "sample_2", "sample_3"]

In [4]:
# expert_decisions = expert_decisions.melt(id_vars=['file_name'], var_name='user_name', value_name='mark')
# data = pd.merge(features, expert_decisions)

In [15]:
data = features

In [16]:
for col in data.columns:
    if "shape" in col:
        data[col] = data[col].apply(lambda x: 1 if x == "circle" else 0)

In [17]:
data = data.sort_values("file_name")

In [18]:
data = data.reset_index(drop=True)

In [19]:
data

              file_name user_name  ...  ml_union_area  ml_area
0          00000150_002  sample_1  ...          959.0    959.0
1          00000150_002  sample_2  ...         7540.0   7540.0
2          00000150_002  sample_3  ...        39494.0  39494.0
3     00000150_002(1.2)  sample_1  ...          709.0    709.0
4     00000150_002(1.2)  sample_2  ...         5292.0   5292.0
...                 ...       ...  ...            ...      ...
1270  00020124_003(1.7)  sample_2  ...        46881.0  50321.0
1271  00020124_003(1.7)  sample_3  ...        14174.0  28348.0
1272    00020124_003(2)  sample_3  ...        10191.0  20382.0
1273    00020124_003(2)  sample_1  ...        11170.0  11172.0
1274    00020124_003(2)  sample_2  ...        34388.0  36972.0

[1275 rows x 243 columns]

In [20]:
data.to_csv('std_data_without_marks.csv')

In [9]:
y = data['mark']

In [10]:
X = data.drop(['file_name', 'user_name', 'mark'], axis=1)

In [11]:
X =

     expert_xcenter_0  expert_ycenter_0  ...  ml_union_area  ml_area
0          771.431635        700.739946  ...          959.0    959.0
1          771.431635        700.739946  ...         7540.0   7540.0
2          771.431635        700.739946  ...        39494.0  39494.0
3          642.859696        583.949955  ...        27360.0  27360.0
4          642.859696        583.949955  ...         5292.0   5292.0
..                ...               ...  ...            ...      ...
775        472.758240        280.990380  ...        11970.0  11970.0
776        472.758240        280.990380  ...         3364.0   3364.0
777        401.844504        238.841823  ...         8667.0   8667.0
778        401.844504        238.841823  ...         2450.0   2450.0
779        401.844504        238.841823  ...         6408.0   7263.0

[780 rows x 241 columns]

In [12]:
train_test_split = 0.2
test_size = int(len(X) * train_test_split)
X_train, X_test = X[test_size:], X[:test_size]
y_train, y_test = y[test_size:], y[:test_size]

In [13]:
import lightgbm as lgb
clf = lgb.LGBMClassifier()
clf.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [14]:
from sklearn.externals import joblib
joblib.dump(clf, 'lgb.pkl')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['lgb.pkl']

In [32]:
y_pred=clf.predict_proba(X_test)

In [ ]:
y_pred

In [31]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_pred, y_test)
print('LightGBM Model accuracy score: {0:0.4f}'.format(accuracy_score(y_test, y_pred)))
print('L1 Model accuracy score: {0:0.4f}'.format(calculate_l1(y_test, y_pred)))

LightGBM Model accuracy score: 0.3846
L1 Model accuracy score: 124.0000

In [14]:
def calculate_l1(y_test, y_pred):
    l1 = 0
    for i in range(len(y_test)): 
        l1 += abs(y_test[i] - y_pred[i])
    return l1